.faq-section {
    width: 100%;
    padding: 45px 0 60px;
    background: transparent;
}

.faq-container {
    width: 75%;
    max-width: none;
    margin: 0;
}

.faq-heading {
    text-align: left;
    margin-bottom: 30px;
}

.faq-heading span {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #2563eb;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.faq-heading h2 {
    margin: 0 0 19px;
    font-size: 30px;
    color: #1e293b;
}

.faq-heading p {
    margin: 0 0 25px;
    max-width: 900px;
    color: #64748b;
    font-size: 18px;
    line-height: 1.7;
}


/* FAQ LIST */

.faq-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq-item {
    width: 100%;
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.faq-item:hover {
    border-color: #2563eb;
}


/* QUESTION */

.faq-question {
    width: 100%;
    border: none;
    background: transparent;
    padding: 20px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: left;
    cursor: pointer;

    font-size: 18px;
    font-weight: 500;
    color: #64748b;
}

.faq-icon {
    font-size: 24px;
    color: #2563eb;
    transition: transform 0.3s ease;
}


/* ANSWER */

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
}

.faq-answer p {
    padding: 0 22px 20px;
    margin: 0;
    max-width: 900px;

    color: #64748b;
    font-size: 18px;
    line-height: 1.7;
}


/* OPEN */

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

.faq-item.active {
    border-color: #2563eb;
}


/* MOBILE */

@media (max-width: 768px) {

    .faq-section {
        padding: 35px 0 50px;
    }

    .faq-container {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .faq-heading h2 {
        font-size: 28px;
    }

    .faq-heading p {
        font-size: 16px;
    }

    .faq-question {
        padding: 18px;
        font-size: 16px;
    }

    .faq-answer p {
        padding: 0 18px 18px;
        font-size: 16px;
    }
}
