.blog-img {
    margin: 60px 0;
    text-align: -webkit-center;
}

.blog-img img {
    width: 50%;  /* Manually change this width default width is 50 */
    max-width: 50%;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 0;
    mix-blend-mode: multiply;
}

/* Mobile */
@media (max-width: 768px) {
    .blog-img {
        margin: 30px 0;
    }

    .blog-img img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        margin: 0;
    }
}

/* Outline */

.blog-img {
    margin: 60px 0;
    width: fit-content;
    max-width: 900px;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
}
